
<div id="JiSlider" class="jislider">
    <ul>
        <li>
            <div class="w3layouts-banner-top">
                <div class="bs-slider-overlay">
                    <div class="container">
                        <!-- Slide Text Layer -->
                        <div class="w3l-slide-text text-center">
                            <h1 class="text-uppercase pt-4 pb-3">Học tập là hạt giống của kiến thức, <br> kiến thức là hạt giống của hạnh phúc</h1>
                            @*<p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>*@
                            @*<a href="#" class="button-style">View More</a>
                            <a href="about.html" class="button-style1">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="w3layouts-banner-top w3layouts-banner-top1">
                <div class="bs-slider-overlay">
                    <div class="container">
                        <!-- Slide Text Layer -->
                        <div class="w3l-slide-text">
                            <h2 class="text-uppercase pt-4 pb-3 text-center">Học, học nữa, học mãi</h2>
                            @*<p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>*@
                            @*<a href="#" class="button-style">View More</a>
                            <a href="about.html" class="button-style1">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="w3layouts-banner-top w3layouts-banner-top2">
                <div class="bs-slider-overlay">
                    <div class="container">
                        <!-- Slide Text Layer -->
                        <div class="w3l-slide-text">
                            <h3 class="text-uppercase pt-4 pb-3 text-center">Ai làm chủ giáo dục có thể thay đổi thế giới</h3>
                            @*<p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>*@
                            @*<a href="#" class="button-style">View More</a>
                            <a href="about.html" class="button-style1">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="w3layouts-banner-top w3layouts-banner-top3">
                <div class="bs-slider-overlay">
                    <div class="container">
                        <!-- Slide Text Layer -->
                        <div class="w3l-slide-text">
                            <h3 class="text-uppercase pt-4 pb-3 text-center">Đi một ngày đàng học một sàng khôn</h3>
                            @*<p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>*@
                            @*<a href="#" class="button-style">View More</a>
                            <a href="about.html" class="button-style1">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="w3layouts-banner-top w3layouts-banner-top4">
                <div class="bs-slider-overlay">
                    <div class="container">
                        <!-- Slide Text Layer -->
                        <div class="w3l-slide-text">
                            <h3 class="text-uppercase pt-4 pb-3 text-center">Trong cách học, phải lấy tự học làm cốt</h3>
                            @*<p class="heading_bottom mb-4">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollis lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum in, egestas vestibulum tellus.</p>*@
                            @*<a href="#" class="button-style">View More</a>
                            <a href="about.html" class="button-style1">Read More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>